
*{
	margin:0px;
	padding:0px;
}

.container {
    background-color: #1a1a1a;
    color: gray;
}

.header {
    background-color: #1a1a1a;
    color: #d8d8d8;
	margin-left:2%;
}

.header h1 {
    display: inline-block;
    margin-left: 500 px;
}

.header h2 {
    display: inline-block;
	margin-left:66%;
	margin-top:2%;
    margin-right:2%;
}
.Blog p {
    display: inline-block;
    margin-left: 2%;
}

.Blog img{
	display: block;
	width: 96%;
	margin-left:2%;
}

.header img{
    vertical-align: top;
    border: silver 20px;
}





button{
    background-color: orange;
    margin-right: 20px;
	margin-left:2%;
}



.Portfolio p1 {
    margin-left: 500px;
    display: inline-block;
    width: 200px;
}
.Portfolio p {
    
    margin-top: 30px;
}



.Built p {
    display: inline-block;
    color: Silver;
    border-left: 40px;
    margin: 40px;
    margin-bottom: 10x;
}

.Bottom p {
    display: inline-block;
    color: Silver;
    width: 200px;
    
}

.Images img {
    margin-right: 10px;

}

.lower_cols{
    display: inline-block;
    width: 20%;
    margin-left:4% ;
    margin-top: 10px;
}

.orangeTitle {
    color: orange;
}

.Bid {
    margin-top: 30px;
}

.upper {
    display: inline-block;
    width: 20%;
    margin-left: 4%;
    
    margin-top: 10px;
}

.upper h5{
    color: orange;
    display: inline-block;
	margin-left:2%;
}

.upper img{
    vertical-align: middle;
	width : 20%;
}
